<button class="btn btn-secondary" routerLink="/admin/lisa">Lisa toode</button>
<button class="btn btn-success" routerLink="/admin/halda">Halda tooteid</button>
<button class="btn btn-warning" routerLink="/admin/kategooriad">Halda kategooriaid</button>
<button class="btn btn-pink" routerLink="/admin/poodide-seaded">Halda poode</button>
<button class="btn btn-info" routerLink="/admin/carousel-pics">Lisa pilte karuselli</button>


<!-- <button class="btn btn-primary">Sinine</button>
<button class="btn btn-success">Roheline</button>
<button class="btn btn-danger">Punane</button>
<button class="btn btn-warning">Kollane</button>
<button class="btn btn-dark">Must</button>
<button class="btn btn-secondary">Hall</button>
<button class="btn btn-info">Tyrkiis</button>
<button class="btn btn-pink">Tyrkiis</button> -->



