<div class="cart-item" *ngFor="let cartProduct of cartProducts">
    <img class="cart-item-pic" src="{{ cartProduct.product.imgSrc }}" alt="">
    <div class="cart-item-name">{{ cartProduct.product.name }}</div>
    <div class="cart-item-price">Hind: {{ cartProduct.product.price.toFixed(2) }} $</div>
    <div class="cart-item-quantity">Kogus: {{ cartProduct.quantity.toFixed(2) }} tk</div>
   <div>
    
    <div class="cart-item-total">Kokku: {{ (cartProduct.product.price * cartProduct.quantity) | thousandSeparator }} $</div>
    <img *ngIf="cartProduct.product.id !== 11110000" class="cart-button" src="assets/cart/minus.png" alt="-" (click)="onDecreaseQuantity(cartProduct)"> 
    <img *ngIf="cartProduct.product.id !== 11110000" class="cart-button" src="assets/cart/plus.png" alt="+" (click)="onIncreaseQuantity(cartProduct)"> 
    <img class="cart-button" src="assets/cart/x-button.png" alt="X" (click)="onRemoveProduct(cartProduct)">
   </div>
    
</div>
<div *ngIf="cartProducts.length === 0">
    You have not added any products yet.
</div>
<div class="to-pay" *ngIf="cartProducts.length !== 0">
    <br>
    To Pay: <div class="kokku">
        {{ totalPrice.toFixed(2) }}
    </div> $
    <br>
    <button class="btn btn-primary" (click)="pay()">MAKSA</button>
    <button class="btn btn-danger" (click)="emptyCart()">TYHJENDA</button>


</div>


    <select [(ngModel)]="selectedParcelMachine"
     (ngModelChange)="onParcelMachineSelected()"
     *ngIf="!selectedParcelMachine && cartProducts.length > 0"
     >
        <option *ngFor="let machine of parcelMachines">{{machine.NAME}}  ({{machine.A1_NAME}})</option>
    </select>

   <div *ngIf="selectedParcelMachine">
    <div>Valitud pakiautomaat: {{ selectedParcelMachine }}</div>
    <button class="btn btn-sm btn-danger" (click)="onUnselectParcelMachine()">X</button>
   </div>
