.cart-button {

    height: 20px;
    width: 20px;
    cursor: pointer;
}
.cart-button:hover {
    opacity: 0.4; /*l2bipaistvus*/
    /* transition: 1.5s;   saan m22rata viivituse */
} 
.cart-item {
    display: flex; /* vasakult paremale */
    justify-content:space-between; /* tyhja ruumi jaotus */
    margin: 10% 15%; /* t6ukab eemale */
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}

.cart-item-pic {

    width: 225px;
    height: 225px;

}
.cart-item-name {
    width: 250px;
}
.cart-item-quantity {
    margin: 0 10px;
}
.cart-item-price {
    width: 80px;
}
.cart-item-total {
    width: 90px;
    font-weight: bold;
}
.to-pay {
    text-align: center;
}
.kokku {
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .cart-item-pic {

        width: 150px;
        height: 150px;
    
    }
    .cart-item-name {
        width: 150px;
    }
    
}
@media only screen and (max-width: 1010px) {
    .cart-item-pic {

        width: 200px;
        height: 200px;
    
    }
    .cart-item-name {
        width: 200px;
    }
    
}
