<button routerLink="/admin/tooted">Tagasi</button>


                       
                                  <!-- vasakul property binding: []
                                     paremal muutuja .ts seest -->
<div *ngIf="toode === null">LOADING...</div>

<form *ngIf="toode !== null" (ngSubmit)="muudaToode()" [formGroup]="muutmiseVorm">
    <label>Nimi</label>
    <input formControlName="nimi" type="text"><br>
    <label>Hind</label><br>
    <input formControlName="hind" type="number"><br>
    <button type="button">Lisainfo</button>
    <label>Aktiivne</label>
    <input formControlName="aktiivne" type="checkbox"><br>
    <button>Muuda</button>
</form>